# target whatsapp contact or group id. E.g., 1234567890@c.us or 1234567890-12345@g.us
TARGET_CHAT_ID=

# comma-separated list of areas to monitor. E.g., תל אביב - יפו,רמת גן
AREAS_TO_MONITOR=תל אביב - יפו

# interval to poll the pikud haoref api in milliseconds. Default 2000
POLL_INTERVAL=2000

# time in minutes of silence required to consider an event ended. Default 10
EVENT_SILENCE_MINUTES=10
